:root {
    --purple-primary: #572AF8;
    --white: #fff;
    --yellow-light: #FFFAE3;
    --green: #29B067;
    --orange: #F05E36;
    --yellow: #FFCF54;
    --dark: #191720;
    --grey: #575363;
    --purple-light: #E8E6ED;
}