@import url('../../common/styles/reset.css');
@import url('../../common/styles/variables.css');
@import url('../../common/styles/base.css');
@import url('../../common/styles/grid.css');

p {
    margin: 0 !important;
    font-weight: 600 !important;
}

.container-restaurant {
    margin-top: 108px;
}

.mt-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-38 {
    margin-bottom: 38px;
}

p {
    margin-bottom: 0;
}

button {
    font-size: 16px;
    transition: all .5s;
    letter-spacing: .9px;
}

button:hover {
    opacity: 0.9;
}

a:hover {
    color: unset;
}

.active {
    color: var(--dark) !important;
    font-weight: 600 !important;
}

.underline {
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--purple-primary);
    transition: all 0.2s ease;
}

.hiden {
    display: none;
}

.btn.active {
    background-color: var(--purple-primary);
    color: var(--white) !important;
    border-radius: 6px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.left {
    width: 270px;
    margin-right: 30px;
}

.right {
    width: 75%;
    position: relative;
}

.search-result__filter {
    width: 100%;
    height: 1690px;
}

.food-category {
    display: flex;
    align-items: center;
    position: relative;
}

.filters,
.clear-all,
.restaurants,
.catering,
.delivery,
.pickup,
.arrow-top,
.arrow-bottom {
    background-color: var(--white);
    border: none;
    cursor: pointer;
}

.arrow-top,
.arrow-bottom {
    position: absolute;
    left: 310px;
    width: 32px;
    height: 32px;
}

.filters {
    color: var(--dark);
    font-weight: 600;
}

.clear-all {
    color: var(--grey);
    font-weight: 200;
}

.clear-all::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--grey);
}

.restaurants,
.catering {
    font-size: 20px;
    font-weight: 200;
    color: var(--grey);
    transition: all .25s ease;
}

.control__row-3 {
    border-radius: 6px;
    border: 1px solid var(--dark);
    display: flex;
    overflow: hidden;
    height: 60px;
}

.control button {
    font-weight: 800;
}

.delivery,
.pickup {
    flex: 1;
}

.delivery-intro {
    display: flex;
    justify-content: space-between;
}

.delivery-intro p {
    display: block;
    width: 100%;
}

.delivery-intro p:last-child {
    text-align: center;
}

.date {
    color: var(--purple-primary);
}

.circle {
    width: 6px;
    height: 6px;
    display: block;
    position: relative;
    top: -3px;
}

.option {
    width: 100%;
}

.option::after {
    content: "";
    display: block;
    margin: 20px 0;
    border-bottom: 1px solid var(--dark);
}

.option:last-child::after {
    border-bottom: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.chkList {
    margin: 30px 0;
    transition: all .5s ease;
}

.appear {
    display: block;
}

.chkItem {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.chkItem p {
    margin: 0 5px !important;
    color: var(--grey);
}

.chkList:first-child {
    margin-top: 0;
}

.chkList:last-child {
    margin-bottom: 0;
}

.chkItem .img {
    margin-left: 5px;
}

Css content right */ .food-category__title {
    display: flex;
    justify-content: space-between;
}

.food-category__title p {
    font-size: 20px;
    font-weight: 800;
}

.food-category__title p:last-child {
    text-align: right;
    font-size: 16px;
    color: var(--purple-primary);
}

.search-result__filters {
    display: flex;
    overflow: hidden;
}

.filter-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--yellow-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-item p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 600;
}

.p-active {
    color: var(--purple-primary);
}

.arow-right {}

.arow-right:hover {
    transform: scale(1.2);
}

/* CSS container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    line-height: 80px;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address,
.container__sort {
    flex: 1;
}

.address {
    font-size: 20px;
}

.container__sort {
    display: flex;
    justify-content: right;
    align-items: center;
}

.sort__options {
    max-height: 60px;
    width: 169px;
    border: 1px solid var(--dark);
    border-radius: 6px;
    margin-left: 12px;
    cursor: pointer;
    position: relative;
}

.sort-by {
    color: var(--grey);
}

.sort__option {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sort__option p {
    flex: 1;
    font-size: 18px;
}

.border-radius {
    border-radius: 6px 6px 0 0;
}

.modal_js {
    border: 1px solid var(--dark);
    position: absolute;
    top: 58px;
    right: -1px;
    width: 169px;
    border-radius: 0 0 6px 6px;
    transition: all 0.5s ease-in;
    z-index: 100;
    background-color: var(--white);
}

.modal .sort__option {
    cursor: pointer;
    transition: all .3s ease;
}

.modal .sort__option:hover {
    background-color: var(--purple-primary);
    color: var(--white);
}

/* CSS product item  */
.card {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
    padding: 12px;
    background-color: var(--white);
    color: var(--dark);
    transition: all .5s;
}

.product-img {
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: 15px;
}

.product-name {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}

.delivery-fee {
    color: var(--grey);
    margin-bottom: 15px;
}

.product-detail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.delivery-time {
    font-size: 14px;
    padding-right: 39px;
}

.delivery-time:last-child {
    padding-left: 30px;
    border-left: 1px solid var(--dark);
}

.detail-title {
    margin-bottom: 10px;
    color: var(--grey);
}

.detail-value {
    font-weight: bold;
}

.product-reviews {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--grey);
    margin-bottom: 12px;
}

.product-reviews__stars {
    margin: 0 5px;
}

.list-btn-navigation {
    margin-top: 30px;
}

.pagination-food {
    display: block;
    margin-left: 6px;
}

.list-btn-navigation .pagination-item {
    width: 44px;
    height: 44px;
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.list-btn-navigation .btn--active {
    background-color: var(--purple-primary);
    color: var(--white);
}



@media (max-width: 500px) {
    .mb-12 {
        width: 100% !important;
        flex: 1 !important;
        max-width: 100% !important;
    }
}