@import url("../../../common/styles/reset.css");
@import url("../../../common/styles/grid.css");
@import url("../../../common/styles/base.css");
@import url("../../../common/styles/variables.css");

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

img {
    width: 30px;
    height: 30px;

}

.signup-container h2 {
    margin-bottom: 20px;
}

.social-login button {


    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.918);
    color: rgba(0, 0, 0, 0.822);
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.social-login button:hover {
    background-color: white;

}

.or-divider {
    margin: 10px;
    font-weight: bold;
}

.email-signup {
    height: 42vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.email-signup label {
    height: 10vh;
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 15px;
}



.email-signup input {
    width: 93, 5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {

    background-color: rgba(87, 42, 248, 1);
    color: #fff;
    font-size: 18px;
    border: #007bff;
    height: 45px;
    border-radius: 10px;
    font-weight: 500;
}

button[type="submit"]:hover {
    background-color: rgba(88, 42, 248, 1);
}

.have-account {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.have-account a {
    color: #007bff;
    text-decoration: none;
}


.signup-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062);
    text-align: center;
    width: 330px;
    height: 90vh;
    margin: 0 auto;

    font-size: 16px;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 60px;
}

.content {
    margin-bottom: 30px;
}